#List of patterns to ignore.
**/*0.f0*
**/*.IC
**/*.baseflow
**/xyz*.fld*
**/logfile
**/*.sch
**/*.sch1
**/*.log*
**/*fort.*
**/nek5000
**/SESSION.NAME
**/*.nek5000
**/*.restart
**/*.eps
**/*.png
**/*.xml
**/obj/
**/makefile
**/*.bin
**/*.out
**/*.dat
**/*.a
**/.*.swp
**/makenek
**/compiler*
**/test_*/*
**/out.*
**/fsi_io.out
**/fsi_terms.out
**/ugis/
**/tests/
